{% extends 'basepage.html' %}
{% block content %}

<section>
    <div class="container">
        <div  class="row justify-content-center align-items-center">
            <div class="a col-md-12  my-5"  style="background-color:rgba(14, 5, 131, 0.308); box-shadow: 3px 10px 18px blue;">
                <div class="col-md-12">
                   
                        {% for  msg in messages %}
                        <h1 style="color: rgb(223, 217, 230); text-align:center;" >{{ msg }}</h1>
                        {% endfor %}
                        
                        <p class="text-light">What is an article?

                            An article is a word that comes before a noun to show if it’s specific or general. Specific nouns use the article the and general nouns use the article a (or an if the next word starts with a vowel sound). 
                            
                            What is an example of an article in grammar?
                            
                            “The hammer” refers to only one hammer, but “a hammer” refers to any hammer. 
                            
                            When should we not use articles?
                            
                            You don’t use articles with uncountable nouns or possessive pronouns. Certain nouns such as nationalities, school subjects, and sports don’t need articles, especially if they refer to abstract ideas. 
                            
                            What are definite and indefinite articles?
                            
                            Definite and indefinite articles refer to whether they describe something specific or general. “The” is the definite article and “a” and “an” are indefinite articles
                        </p>
                        
                    
                        </div>
                        <button class="btn bg-warning"><a href="{% url 'show_profile' %}"  style="margin-left: 10%;">profile</a></button>
                        
                    </div>
                   
                    
                </div>
            </div>
            
            </section>
{% endblock %}